- @page_title = '新規会員登録'

= content_for :header do
  = render 'shared/header-exhibit'
= content_for :footer do
  = render 'shared/footer-exhibit'

%main.main
  %section.main__container
    %h2.main__head.registration 新規会員登録
    .main__inne.registration-form
      .signup-content
        = link_to infomation_registration_path,class: "btn-default btn-red btn-sns" do
          %i.far.fa-envelope.icon_mail
          メールアドレスで登録する
        %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
          %i.fab.fa-facebook-square
          Facebookで登録する
        %button#google-login.btn-default.btn-sns.btn-sns-google
          Googleで登録する