- @page_title = '会員登録完了'

= content_for :header do
  = render 'signup/signup-header'
= content_for :footer do
  = render 'shared/footer-exhibit'

.main__container
  .content#done
    %section.content__wrap
      %h2.main__head.registration 会員登録完了
      .content__body
        .signup-content
          %p.main__finish-text
            &nbsp;ありがとうございます。
            %br
            会員登録が完了しました。
            %br
          = link_to "メルカリをはじめる", mypage_path, class: "btn-default btn-red"
