- @page_title = 'お届け先住所入力'

= content_for :header do
  = render 'signup/signup-header'
= content_for :footer do
  = render 'shared/footer-exhibit'

.main__container
  .content#step3
    %section.content__wrap
      %h2.main__head.registration お届け先住所入力
      .content__body
        = form_for @user, url: signup_index_path, class: 'main__inne registration-form' do |f|
          .signup-content
            = f.fields_for :address do |a|
              .form-group
                = a.label :name, "氏名"
                %span.form-require 必須
                = a.text_field :first_name, class: 'input-default', placeholder: '例) 山田'
                = a.text_field :last_name, class: 'input-default', placeholder: '例) 彩'
                - ['first_name', 'last_name'].each do |column|
                  = render partial: 'address-error-messages', locals: { user: @user, column: column } if @user.address.errors.any?

              .form-group
                = a.label :name_kana, "フリガナ"
                %span.form-require 必須
                = a.text_field :first_name_kana, class: 'input-default', placeholder: '例) ヤマダ'
                = a.text_field :last_name_kana, class: 'input-default', placeholder: '例)アヤ'
                - ['first_name_kana', 'last_name_kana'].each do |column|
                  = render partial: 'address-error-messages', locals: { user: @user, column: column } if @user.address.errors.any?

              .form-group
                = a.label :postal_code, "郵便番号"
                %span.form-require 必須
                = a.text_field :postal_code, class: 'input-default', placeholder: '例) 123-4567'
                = render partial: 'address-error-messages', locals: {user: @user, column: "postal_code"} if @user.address.errors.any?

              .form-group
                = a.label :prefecture_id, "都道府県"
                %span.form-require 必須
                .select-wrap
                  .icon-arrow-bottom
                    %i.fa.fa-angle-down
                  = a.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "--"
                  = render partial: 'address-error-messages', locals: {user: @user, column: "prefecture_id"} if @user.address.errors.any?

              .form-group
                = a.label :city, "市区町村"
                %span.form-require 必須
                = a.text_field :city, class: 'input-default', placeholder: "例) 横浜市緑区"
                = render partial: 'address-error-messages', locals: {user: @user, column: "city"} if @user.address.errors.any?

              .form-group
                = a.label :address, "番地"
                %span.form-require 必須
                = a.text_field :address, class: 'input-default', placeholder: "例) 青山1−1−1"
                = render partial: 'address-error-messages', locals: {user: @user, column: "address"} if @user.address.errors.any?

              .form-group
                = a.label :building_name, "建物名"
                %span.form-arbitrary 任意
                = a.text_field :building_name, class: 'input-default', placeholder: "例) 柳ビル103"
                
              .form-group
                = a.label :phone_number, "電話番号"
                %span.form-arbitrary 任意
                = a.text_field :phone_number, class: 'input-default', placeholder: "例) 090-1234-5678"

            .form-group
              = f.submit '次へ進む', class: 'btn-default btn-red'
