- @page_title = 'ログイン'

= content_for :header do
  = render 'shared/header-exhibit'
= content_for :footer do
  = render 'shared/footer-exhibit'

%main.main
  .login
    .login__no-account
      %p アカウントをお持ちでない方はこちら
      = link_to "新規会員登録", signup_index_path

    .login__form-inner
      = link_to user_facebook_omniauth_authorize_path, class: "btn-default btn-sns btn-sns-facebook", id: "facebook-login", method: :post do
        %i.fab.fa-facebook-square
        Facebookでログインする
      = link_to user_google_oauth2_omniauth_authorize_path, class: "btn-default btn-sns btn-sns-google", id: "google-login", method: :post do
        Googleでログインする

    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .login__form-inner
        .form-group
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "login__input-text input-default"
          = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "login__input-text input-default"
        .form-group
          = f.submit "ログイン", class: "login__submit btn-default btn-red"
          -# %button.login__submit.btn-default.btn-red{type: "submit"} ログイン
          %a{href: "#"} パスワードをお忘れの方