- @page_title = '出品商品画面'
- breadcrumb :items

= content_for :header do
  = render 'shared/header'
= content_for :header do
  = render 'shared/flash_message'
= content_for :app_banner do
  = render 'shared/app-banner'
= content_for :footer do
  = render 'shared/footer'

.item-box__container
  %main.main
    .main__container__edit-item-box
      %section.main__container__sell-item-box
        %h1.sell-item__name
          = @item.name
        .sell-item__main-content
          .sell-item__photo
            .sell-item__photo__all
              .sell-item__photo__main
                - if @item.buyer_id.present? 
                  .item-sold-out-big
                    %div SOLD
                - elsif @item.item_status == "stopping"
                  .item-sold-out-big.stopping
                    %div 公開停止中

                = image_tag "#{@item.image}", alt: "", id: "translate-img"
              = render partial:'items/item-photo', locals:{ image: @images}
          %table.sell-item__detail-table
            %tbody
              %tr
                %th 出品者
                %td
                  = link_to mypage_path do
                    = @seller.first.nickname
                  %div
                    .sell-item__user-ratings
                      .icon-good
                        %i.fa.fa-laugh
                        %span 258
                    .sell-item__user-ratings
                      .icon-normal
                        %i.fa.fa-meh
                        %span 2
                    .sell-item__user-ratings
                      .icon-bad
                        %i.fa.fa-frown
                        %span 0
              %tr
                %th カテゴリー
                %td
                  = link_to @item.category.name
                  .sub-category
                    = link_to "#" do
                      %i.fa.fa-angle-right
                      %span サブカテ1
                  .sub-category
                    = link_to "#" do
                      %i.fa.fa-angle-right
                      %span サブカテ2
              %tr
                %th ブランド
                %td
                  = link_to "ブランド名"
              %tr
                %th 商品のサイズ
                %td FREE
              %tr
                %th 商品の状態
                %td
                  =@item.state.name
              %tr
                %th 配送料の負担
                %td
                  = @item.postage_burden.name
              %tr
                %th 配送の方法
                %td
                  =@item.shipping_way.name
              %tr
                %th 配送元地域
                %td
                  = link_to "#{@item.prefecture.name}"
              %tr
                %th 発送日の目安
                %td
                  = @item.shipping_date.name
          .sell-item__price-box
            %span.sell-item__price
              ¥#{@item.price.to_s(:delimited)}
            %span.sell-item__tax  (税込)
            %span.sell-item__shipping-fee 送料込み
        .item-description
          %p.item-description__inner{style: "font-size: 18px"}
            =@item.comment
      -if @item.item_status == "exhibition" || @item.item_status == "stopping"
        .item-change__box
          %button.btn-default.btn-red{type: "submit"} 
            = link_to "商品の編集", edit_item_path(@item)
          %p
            or
          - if @item.item_status == "exhibition"
            = form_with model: @item, method: :patch, local: true do |f|
              = f.hidden_field :item_status,value: :stopping
              = f.submit "出品を一旦停止する",class: 'btn-default btn-gray'
          - elsif @item.item_status == "stopping"
            = form_with model: @item, method: :patch, local: true do |f|
              = f.hidden_field :item_status,value: :exhibition
              = f.submit "商品を再開する",class: 'btn-default btn-red'
          %button.js-modal-open.btn-default.btn-gray
            この商品を削除する
      .item-detail__message
        .message__container
          = render 'items/message'
          .message__space
          .message__content
            %form{action: '', method: 'POST', class:'.message__form'}
              %p
                相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %textarea{name: 'body', class: '.textarea-default'}
              -if @item.item_status == "exhibition"
                %button{type: 'submit', class: 'btn-bray'}
                  %span コメントする
              - else
                %button{type: 'submit', class: 'btn-bray'}
                  %span 売り切れのためコメントできません
.modal.js-modal
  .modal__bg.js-modal-close
    .modal__content
      .modal__content__top
        %b
          確認
        %p
          削除すると２度と復活できません。
        %p
          削除する代わりに停止することもできます。
          %br
          %br
          本当に削除しますか?
      .modal__btn
        .modal__btn__cancel
          %button{type: 'button', class: '.js-modal-close'}
          キャンセル
        .modal__btn__submit
          = link_to '削除する', item_path(@item), method: :delete,id: "delete_btn"

= render 'shared/breadcrumb-items'