- @page_title = '出品中リスト'
- breadcrumb :mypage

= content_for :header do
  = render 'shared/header'
= content_for :header do
  = render 'shared/flash_message'
= content_for :app_banner do
  = render 'shared/app-banner'
= content_for :footer do
  = render 'shared/footer'
= content_for :sell_btn do
  = render 'shared/sell-btn'
.mypage-container
  .content
    %section.content__wrap
      %h2.buy-items__head
        出品した商品
      .item_tab
        %ul.item_tab__lists
          %li.active
            = link_to exhibition_mypage_path do
              出品中
          %li
            = link_to trading_mypage_path do
              取引中
          %li
            = link_to completed_mypage_path do
              売却済み    
        - if @items.count > 0
          = render partial: 'shared/tab-content-item', collection: @items, as: "item"
        - else
          - comment="出品中の商品がありません"
          = render partial: 'shared/tab_not_item' ,locals: {comment:comment} 
    .pagemove
      %li.pagemove__btn
        =link_to "#" do
          %i.fa.fa-chevron-left
      %li.pagemove__btn
        =link_to "#" do
          %i.fa.fa-chevron-right
  = render 'shared/sidebar-mypage'