- @page_title = 'ログアウト'
= content_for :header do
  = render 'shared/header'
= content_for :app_banner do
  = render 'shared/app-banner'
= content_for :footer do
  = render 'shared/footer'
= content_for :sell_btn do
  = render 'shared/sell-btn'

.mypage-container
  .content
    %section.content__wrap
      .content__body
        .content__inner
          = link_to '#', class: 'btn-default btn-red' do
            ログアウト
  = render 'shared/sidebar-mypage'