.itembox
  = link_to item_path(item.id) do
    %figure.itembox__photo
      = image_tag "#{item.images.first.image}"
      -# - item.images.each do |image|
      -#   = image_tag image.image
    .itembox__body
      %h3.itembox__name
        = item.name
      .itembox__num
        %p.itembox__price 
          = item.price
        %p.itembox__like
          %i.far.fa-heart
          3