- @page_title = '購入を確定'

.purchase-container
  = render partial: 'shared/header-exhibit'
  %main.main
    %section.main__container.buy-item-container
      %h2.main__head
        %b 購入内容の確認
      %section.buy-content.buy-item
        .buy-content__inner
          %h3.buy-item__image
            = image_tag "#{@item.image}", alt: "", class: "is-higher-height.lazyloaded"
          %p.buy-item__name.bold
            = @item.name
          %form.buy-form{action: "###", method: "POST", novalidate: "novalidate"}
            .bold ¥
            %p.buy-price__including-postage.bold
              = @item.price
              %span.item-shipping-fee 送料込み
            %ul.buy-accordion.not-have
              %li.accordion-parent
                .accordion-toggle
                  ポイントはありません
            %ul.buy-price
              %li.buy-price__row.buy-you-pay
                .buy-price__total.bold
                  %b 支払い金額
                .buy-price__total.bold
                  %b ¥
                .buy-price__total
                  %span
                    = @item.price
            %button.btn-default.btn-red{type: "submit"}
              %b 購入する
      %section.buy-content.buy-user-info
        .buy-content__inner
          %h3 配送先
          %address.buy-user-info__text
            = "〒#{@buyer_address.first.postal_code}"
            %br/
            = @buyer_address[0].prefecture.name
            = @buyer_address.first.city
            = @buyer_address.first.address
            %br/
            = current_user.first_name
            = current_user.last_name
          %p.buy-user-info__text
          %a.buy-user-info__fix{href: "#"}
            %span.change 変更する
            %i.fa.fa-angle-right
      %section.buy-content.buy-user-info
        .buy-content__inner
          %h3 支払い方法
          %p.buy-user-info__text
            *************1111
            %br/
            01/22
          %figure
            = image_tag "visa.svg", alt: "mercari", class: "", height: "15", width: "49"
          %p
          %a.buy-user-info__fix{href: "#"}
            %span.change 変更する
            %i.fa.fa-angle-right
  = render partial: 'shared/footer-exhibit'