- @page_title = '購入を確定'

.purchase-container
  = render partial: 'shared/header-exhibit'
  %main.main
    %section.main__container.buy-item-container
      %h2.main__head
        %b 購入内容の確認
      %section.buy-content.buy-item
        .buy-content__inner
          %h3.buy-item__image
            = image_tag "#{@item.image}", alt: "", class: "is-higher-height.lazyloaded"
          %p.buy-item__name.bold
            = @item.name
          .buy-form
            .bold ¥
            %p.buy-price__including-postage.bold
              = @item.price
              %span.item-shipping-fee 送料込み
            %ul.buy-accordion.not-have
              %li.accordion-parent
                .accordion-toggle
                  ポイントはありません
            %ul.buy-price
              %li.buy-price__row.buy-you-pay
                .buy-price__total.bold
                  %b 支払い金額
                .buy-price__total.bold
                  %b ¥
                .buy-price__total
                  %span
                    = @item.price
            - if @card_information.present?
              = form_with url: pay_item_purchase_index_path, method: :post do |f|
                = f.submit '購入する', class: 'btn-default btn-red btn-serious'
            - else
              %p.has-error-text 支払い方法の入力を完了してください。
              .btn-default.btn-disabled
                購入する

      %section.buy-content.buy-user-info
        = render 'buyer-address'
      %section.buy-content.buy-user-info
        = render 'creditcard-info'
        
  = render partial: 'shared/footer-exhibit'