- @page_title = '出品'

.exhibit-container
  = render partial: 'shared/header-exhibit'
  %main.main
    %section.main__container.buy-item-container
      #sell-container
        %div{"data-reactroot": ""}
          .sell-container__inner
            %h2.main__head
              %b 商品の情報を入力
            = form_with model: @item, method: :patch, local: true do |f|
              .sell-upload-box
                %h3.sell-upload-box__head
                  %b 出品画像
                  %span.form-require 必須
                %p 最大10枚までアップロードできます
                .sell-dropbox-container.clearfix.edit_page
                  .sellitem_contener
                    .sellitem_contener_image
                      = image_tag "#{@item.image}", alt: "", class: "edit_image"
                    .sell-image-upload
                      = link_to "編集", "#", class: "sell-image-upload-btn"
                      = link_to "削除", "#", class: "sell-image-upload-btn"
                  %label.file_upload_box
                    = f.file_field :image,style: "display: none;",class:'sell-upload-drop-file'
                    .sell-upload-drop-box.have-item-0.edit_page
                      %pre.visible-pc
                        ドラッグアンドドロップ
                        %br>/
                        またはクリックしてファイルをアップロード
                      .icon-camera
                        %i.fa.fa-camera{"aria-hidden": "true"}
              .sell-content
                .form-group
                  %label
                    %b 商品名
                    %span.form-require 必須
                  %div
                    = f.text_field :name,class:'input-default',placeholder: "商品名（必須 40文字まで）", value: "#{@item.name}"
                .form-group
                  %label
                    %b 商品の説明
                    %span.form-require 必須
                  = f.text_area :comment, maxlength: "1000", placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", row: "5", class: "textarea-default"
              .sell-content.clearfix
                %h3.sell-sub-head
                  %b 商品の詳細
                .sell-form-box
                  .form-group
                    %label
                      %b カテゴリー
                      %span.form-require 必須
                    %div
                      .select-wrap-exhibit
                        .icon-arrow-bottom
                          %i.fa.fa-angle-down{"aria-hidden": "true"}
                        = f.collection_select :category_id, Category.all, :id, :name,class: 'select-default', prompt: "--"
                  .form-group
                    %label
                      %b 商品の状態
                      %span.form-require 必須
                    .select-wrap-exhibit
                      .icon-arrow-bottom
                        %i.fa.fa-angle-down{"aria-hidden": "true"}
                      = f.collection_select :state_id, State.all, :id, :name, prompt: "--",class: 'select-default'
              .sell-content.clearfix
                %h3.sell-sub-head
                  %b 配送について
                %a.form-question{href: "#", target: "_blank"} ?
                .sell-form-box
                  .form-group
                    %label
                      %b 配送料の負担
                      %span.form-require 必須
                    .select-wrap-exhibit
                      .icon-arrow-bottom
                        %i.fa.fa-angle-down{"aria-hidden": "true"}
                      = f.collection_select :postage_burden_id, PostageBurden.all, :id, :name, prompt: "--",class: 'select-default'
                  .form-group
                    %label
                      %b 配送方法
                      %span.form-require 必須
                    .select-wrap-exhibit
                      .icon-arrow-bottom
                        %i.fa.fa-angle-down{"aria-hidden": "true"}
                      = f.collection_select :shipping_way_id, ShippingWay.all, :id, :name, prompt: "--",class: 'select-default'
                  .form-group
                    %label
                      %b 発送元の地域
                      %span.form-require 必須
                    .select-wrap-exhibit
                      = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt:"--", class: '.select-default'
                      .icon-arrow-bottom
                        %i.fa.fa-angle-down{"aria-hidden": "true"}
                  .form-group
                    %label
                      %b 発送までの日数
                      %span.form-require 必須
                    .select-wrap-exhibit
                      .icon-arrow-bottom
                        %i.fa.fa-angle-down{"aria-hidden": "true"}
                      = f.collection_select :shipping_date_id, ShippingDate.all, :id, :name, prompt: "--", class: '.select-default'
              .sell-content.clearfix
                %h3.sell-sub-head
                  %b 販売価格(300〜9,999,999)
                %a.form-question{href: "#", target: "_blank"} ?
                .sell-form-box
                  %ul.sell-price
                    %li.form-group
                      .clearfix
                        %label.clearfix__left
                          %b 価格
                          %span.form-require 必須
                        .clearfix__right.sell-price-input
                          ¥
                          %div
                            = f.text_field :price,class: 'input-price',placeholder: "例）300", value: "#{@item.price}"
                    %li.clearfix
                      .clearfix__left
                        販売手数料(10%)
                        .clearfix__right 
                          - fee=@item.price*0.1
                          #{fee.floor}
                    %li.clearfix.bold
                      .clearfix__left
                        %b 販売利益
                        .clearfix__right
                          %b
                            - profit=@item.price - fee.floor
                            ¥#{profit.to_s(:delimited)}
              .model{role: "dialog", tabindex: "-1"}
                .model-inner
              .sell-content.sell-btn-box
                = f.submit '変更する', class: 'btn-default btn-red'
                .btn-default.btn-gray
                  = link_to "キャンセル", "/exhibit/1", class: ""
            .overlay
  = render partial: 'shared/footer-exhibit'