= content_for :header do
  = render 'shared/header'
= content_for :app_banner do
  = render 'shared/app-banner'
= content_for :footer do
  = render 'shared/footer'
= content_for :sell_btn do
  = render 'shared/sell-btn'
%section.slider
  .slider__item
    = link_to '', '#', class: 'top-banner'
%section.pickup
  %h2.pickup__title ピックアップカテゴリー
  / item ここから
  %section.item
    %h3.item__title
      = link_to '新着アイテム', '#'
    .item__content
      .itembox
        = link_to '#' do
          %figure.itembox__photo
            = image_tag '', alt: '#'
          .itembox__body
            %h3.itembox__name アイテムネームアイテムネームアイテムネームアイテムネーム
            .itembox__num
              %p.itembox__price 1,500
              %p.itembox__like
                %i.far.fa-heart
                3
      .itembox
        = link_to '#' do
          %figure.itembox__photo
            = image_tag '', alt: '#'
          .itembox__body
            %h3.itembox__name アイテムネーム
            .itembox__num
              %p.itembox__price 1,500
              %p.itembox__like
                %i.far.fa-heart
                3
      .itembox
        = link_to '#' do
          %figure.itembox__photo
            = image_tag '', alt: '#'
          .itembox__body
            %h3.itembox__name アイテムネーム
            .itembox__num
              %p.itembox__price 1,500
              %p.itembox__like
                %i.far.fa-heart
                3
      .itembox
        = link_to '#' do
          %figure.itembox__photo
            = image_tag '', alt: '#'
          .itembox__body
            %h3.itembox__name アイテムネーム
            .itembox__num
              %p.itembox__price 1,500
              %p.itembox__like
                %i.far.fa-heart
                3
    .view-all
      = link_to 'すべての商品を見る', '#'
  / item ここまで
  / item ここから
  %section.item
    %h3.item__title
      = link_to '新着アイテム', '#'
    .item__content
      .itembox
        = link_to '#' do
          %figure.itembox__photo
            = image_tag '', alt: '#'
          .itembox__body
            %h3.itembox__name アイテムネームアイテムネームアイテムネームアイテムネーム
            .itembox__num
              %p.itembox__price 1,500
              %p.itembox__like
                %i.far.fa-heart
                3
      .itembox
        = link_to '#' do
          %figure.itembox__photo
            = image_tag '', alt: '#'
          .itembox__body
            %h3.itembox__name アイテムネーム
            .itembox__num
              %p.itembox__price 1,500
              %p.itembox__like
                %i.far.fa-heart
                3
      .itembox
        = link_to '#' do
          %figure.itembox__photo
            = image_tag '', alt: '#'
          .itembox__body
            %h3.itembox__name アイテムネーム
            .itembox__num
              %p.itembox__price 1,500
              %p.itembox__like
                %i.far.fa-heart
                3
      .itembox
        = link_to '#' do
          %figure.itembox__photo
            = image_tag '', alt: '#'
          .itembox__body
            %h3.itembox__name アイテムネーム
            .itembox__num
              %p.itembox__price 1,500
              %p.itembox__like
                %i.far.fa-heart
                3
    .view-all
      = link_to 'すべての商品を見る', '#'
  / item ここまで
  / item ここから
  %section.item
    %h3.item__title
      = link_to '新着アイテム', '#'
    .item__content
      .itembox
        = link_to '#' do
          %figure.itembox__photo
            = image_tag '', alt: '#'
          .itembox__body
            %h3.itembox__name アイテムネームアイテムネームアイテムネームアイテムネーム
            .itembox__num
              %p.itembox__price 1,500
              %p.itembox__like
                %i.far.fa-heart
                3
      .itembox
        = link_to '#' do
          %figure.itembox__photo
            = image_tag '', alt: '#'
          .itembox__body
            %h3.itembox__name アイテムネーム
            .itembox__num
              %p.itembox__price 1,500
              %p.itembox__like
                %i.far.fa-heart
                3
      .itembox
        = link_to '#' do
          %figure.itembox__photo
            = image_tag '', alt: '#'
          .itembox__body
            %h3.itembox__name アイテムネーム
            .itembox__num
              %p.itembox__price 1,500
              %p.itembox__like
                %i.far.fa-heart
                3
      .itembox
        = link_to '#' do
          %figure.itembox__photo
            = image_tag '', alt: '#'
          .itembox__body
            %h3.itembox__name アイテムネーム
            .itembox__num
              %p.itembox__price 1,500
              %p.itembox__like
                %i.far.fa-heart
                3
    .view-all
      = link_to 'すべての商品を見る', '#'
  / item ここまで
  / item ここから
  %section.item
    %h3.item__title
      = link_to '新着アイテム', '#'
    .item__content
      .itembox
        = link_to '#' do
          %figure.itembox__photo
            = image_tag '', alt: '#'
          .itembox__body
            %h3.itembox__name アイテムネームアイテムネームアイテムネームアイテムネーム
            .itembox__num
              %p.itembox__price 1,500
              %p.itembox__like
                %i.far.fa-heart
                3
      .itembox
        = link_to '#' do
          %figure.itembox__photo
            = image_tag '', alt: '#'
          .itembox__body
            %h3.itembox__name アイテムネーム
            .itembox__num
              %p.itembox__price 1,500
              %p.itembox__like
                %i.far.fa-heart
                3
      .itembox
        = link_to '#' do
          %figure.itembox__photo
            = image_tag '', alt: '#'
          .itembox__body
            %h3.itembox__name アイテムネーム
            .itembox__num
              %p.itembox__price 1,500
              %p.itembox__like
                %i.far.fa-heart
                3
      .itembox
        = link_to '#' do
          %figure.itembox__photo
            = image_tag '', alt: '#'
          .itembox__body
            %h3.itembox__name アイテムネーム
            .itembox__num
              %p.itembox__price 1,500
              %p.itembox__like
                %i.far.fa-heart
                3
    .view-all
      = link_to 'すべての商品を見る', '#'
  / item ここまで