<%= content_for :header do %>
  <%= render 'shared/header' %>
<% end %>
<%= content_for :app_banner do %>
  <%= render 'shared/app-banner' %>
<% end %>
<%= content_for :footer do %>
  <%= render 'shared/footer' %>
<% end %>
<%= content_for :sell_btn do %>
  <%= render 'shared/sell-btn' %>
<% end %>

<section class="slider">
  <div class="slider__item">
    <a href="" class="top-banner"></a>
  </div>
</section>

<section class="pickup">
  <h2 class="pickup__title">ピックアップカテゴリー</h2>
  <!-- item ここから -->
  <section class="item">
    <h3 class="item__title">
      <a href="">新着アイテム</a>
    </h3>
    <div class="item__content">
      <div class="itembox">
        <a href="">
          <figure class="itembox__photo">
            <img src="" alt="">
          </figure>
          <div class="itembox__body">
            <h3 class="itembox__name">アイテムネームアイテムネームアイテムネームアイテムネーム</h3>
            <div class="itembox__num">
              <p class="itembox__price">1,500</p>
              <p class="itembox__like">
                <i class="far fa-heart"></i>
                3
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="itembox">
        <a href="">
          <figure class="itembox__photo">
            <img src="" alt="">
          </figure>
          <div class="itembox__body">
            <h3 class="itembox__name">アイテムネーム</h3>
            <div class="itembox__num">
              <p class="itembox__price">1,500</p>
              <p class="itembox__like">
                <i class="far fa-heart"></i>
                3
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="itembox">
        <a href="">
          <figure class="itembox__photo">
            <img src="" alt="">
          </figure>
          <div class="itembox__body">
            <h3 class="itembox__name">アイテムネーム</h3>
            <div class="itembox__num">
              <p class="itembox__price">1,500</p>
              <p class="itembox__like">
                <i class="far fa-heart"></i>
                3
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="itembox">
        <a href="">
          <figure class="itembox__photo">
            <img src="" alt="">
          </figure>
          <div class="itembox__body">
            <h3 class="itembox__name">アイテムネーム</h3>
            <div class="itembox__num">
              <p class="itembox__price">1,500</p>
              <p class="itembox__like">
                <i class="far fa-heart"></i>
                3
              </p>
            </div>
          </div>
        </a>
      </div>

    </div>
    <div class="view-all">
      <a href="">すべての商品を見る</a>
    </div>
  </section>
  <!-- item ここまで -->

  <!-- item ここから -->
  <section class="item">
      <h3 class="item__title">
        <a href="">新着アイテム</a>
      </h3>
      <div class="item__content">
        <div class="itembox">
          <a href="">
            <figure class="itembox__photo">
              <img src="" alt="">
            </figure>
            <div class="itembox__body">
              <h3 class="itembox__name">アイテムネーム</h3>
              <div class="itembox__num">
                <p class="itembox__price">1,500</p>
                <p class="itembox__like">
                  <i class="far fa-heart"></i>
                  3
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="itembox">
          <a href="">
            <figure class="itembox__photo">
              <img src="" alt="">
            </figure>
            <div class="itembox__body">
              <h3 class="itembox__name">アイテムネーム</h3>
              <div class="itembox__num">
                <p class="itembox__price">1,500</p>
                <p class="itembox__like">
                  <i class="far fa-heart"></i>
                  3
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="itembox">
          <a href="">
            <figure class="itembox__photo">
              <img src="" alt="">
            </figure>
            <div class="itembox__body">
              <h3 class="itembox__name">アイテムネーム</h3>
              <div class="itembox__num">
                <p class="itembox__price">1,500</p>
                <p class="itembox__like">
                  <i class="far fa-heart"></i>
                  3
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="itembox">
          <a href="">
            <figure class="itembox__photo">
              <img src="" alt="">
            </figure>
            <div class="itembox__body">
              <h3 class="itembox__name">アイテムネーム</h3>
              <div class="itembox__num">
                <p class="itembox__price">1,500</p>
                <p class="itembox__like">
                  <i class="far fa-heart"></i>
                  3
                </p>
              </div>
            </div>
          </a>
        </div>

      </div>
      <div class="view-all">
        <a href="">すべての商品を見る</a>
      </div>
    </section>
    <!-- item ここまで -->

    <!-- item ここから -->
  <section class="item">
      <h3 class="item__title">
        <a href="">新着アイテム</a>
      </h3>
      <div class="item__content">
        <div class="itembox">
          <a href="">
            <figure class="itembox__photo">
              <img src="" alt="">
            </figure>
            <div class="itembox__body">
              <h3 class="itembox__name">アイテムネーム</h3>
              <div class="itembox__num">
                <p class="itembox__price">1,500</p>
                <p class="itembox__like">
                  <i class="far fa-heart"></i>
                  3
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="itembox">
          <a href="">
            <figure class="itembox__photo">
              <img src="" alt="">
            </figure>
            <div class="itembox__body">
              <h3 class="itembox__name">アイテムネーム</h3>
              <div class="itembox__num">
                <p class="itembox__price">1,500</p>
                <p class="itembox__like">
                  <i class="far fa-heart"></i>
                  3
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="itembox">
          <a href="">
            <figure class="itembox__photo">
              <img src="" alt="">
            </figure>
            <div class="itembox__body">
              <h3 class="itembox__name">アイテムネーム</h3>
              <div class="itembox__num">
                <p class="itembox__price">1,500</p>
                <p class="itembox__like">
                  <i class="far fa-heart"></i>
                  3
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="itembox">
          <a href="">
            <figure class="itembox__photo">
              <img src="" alt="">
            </figure>
            <div class="itembox__body">
              <h3 class="itembox__name">アイテムネーム</h3>
              <div class="itembox__num">
                <p class="itembox__price">1,500</p>
                <p class="itembox__like">
                  <i class="far fa-heart"></i>
                  3
                </p>
              </div>
            </div>
          </a>
        </div>

      </div>
      <div class="view-all">
        <a href="">すべての商品を見る</a>
      </div>
    </section>
    <!-- item ここまで -->

    <!-- item ここから -->
  <section class="item">
      <h3 class="item__title">
        <a href="">新着アイテム</a>
      </h3>
      <div class="item__content">
        <div class="itembox">
          <a href="">
            <figure class="itembox__photo">
              <img src="" alt="">
            </figure>
            <div class="itembox__body">
              <h3 class="itembox__name">アイテムネーム</h3>
              <div class="itembox__num">
                <p class="itembox__price">1,500</p>
                <p class="itembox__like">
                  <i class="far fa-heart"></i>
                  3
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="itembox">
          <a href="">
            <figure class="itembox__photo">
              <img src="" alt="">
            </figure>
            <div class="itembox__body">
              <h3 class="itembox__name">アイテムネーム</h3>
              <div class="itembox__num">
                <p class="itembox__price">1,500</p>
                <p class="itembox__like">
                  <i class="far fa-heart"></i>
                  3
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="itembox">
          <a href="">
            <figure class="itembox__photo">
              <img src="" alt="">
            </figure>
            <div class="itembox__body">
              <h3 class="itembox__name">アイテムネーム</h3>
              <div class="itembox__num">
                <p class="itembox__price">1,500</p>
                <p class="itembox__like">
                  <i class="far fa-heart"></i>
                  3
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="itembox">
          <a href="">
            <figure class="itembox__photo">
              <img src="" alt="">
            </figure>
            <div class="itembox__body">
              <h3 class="itembox__name">アイテムネーム</h3>
              <div class="itembox__num">
                <p class="itembox__price">1,500</p>
                <p class="itembox__like">
                  <i class="far fa-heart"></i>
                  3
                </p>
              </div>
            </div>
          </a>
        </div>

      </div>
      <div class="view-all">
        <a href="">すべての商品を見る</a>
      </div>
    </section>
    <!-- item ここまで -->

</section>