= content_for :header do
  - if user_signed_in?
    = render 'shared/header-logined'
  - else
    = render 'shared/header'
= content_for :app_banner do
  = render 'shared/app-banner'
= content_for :footer do
  = render 'shared/footer'
= content_for :sell_btn do
  = render 'shared/sell-btn'
%section.slider
  .slider__item
    = link_to '', '#', class: 'top-banner'
%section.pickup
  %h2.pickup__title ピックアップカテゴリー
  - for i in 1..4
    = render 'items/index-item-section'