= content_for :header do
  = render 'shared/header'
= content_for :app_banner do
  = render 'shared/app-banner'
= content_for :footer do
  = render 'shared/footer'
= content_for :sell_btn do
  = render 'shared/sell-btn'
%section.slider
  .slider__item
    = link_to '', '#', class: 'top-banner'
%section.pickup
  %h2.pickup__title ピックアップカテゴリー
  = render 'items/index-item-section'