- @page_title = '出品'

= content_for :header do
  = render 'shared/header-exhibit'
= content_for :footer do
  = render 'shared/footer-exhibit'

.exhibit-container
  %main.main
    %section.main__container.buy-item-container
      #sell-container
        %div{"data-reactroot": ""}
          .sell-container__inner
            %h2.main__head
              %b 商品の情報を入力
            = form_for @item, class: "sell-form" do |f|
              = render 'items/sell-form/image-upload', f: f ,loacls: {item: @item}
              .sell-content
                = render 'items/sell-form/infomation', f: f ,loacls: {item: @item}
              .sell-content.clearfix
                = render 'items/sell-form/item-details', f: f ,loacls: {item: @item}
              .sell-content.clearfix
                = render 'items/sell-form/delivery', f: f ,loacls: {item: @item}
              .sell-content.clearfix
                = render 'items/sell-form/price-detail', f: f ,loacls: {item: @item}
              .sell-content.sell-btn-box
                = render 'items/sell-form/submit-btn', f: f ,loacls: {item: @item}
      .overlay
