%ul.signup-card-list
  %li
    = image_tag 'cards/new/visa.svg', alt: 'visa', size: '49x20'
  %li
    = image_tag 'cards/new/master-card.svg', alt: 'master-card', size: '34x20'
  %li
    = image_tag 'cards/new/saison-card.svg', alt: 'saison-card', size: '30x20'
  %li
    = image_tag 'cards/new/jcb.svg', alt: 'jcb', size: '32x20'
  %li
    = image_tag 'cards/new/american-express.svg', alt: 'american-express', size: '21x20'
  %li
    = image_tag 'cards/new/dinersclub.svg', alt: 'dinersclub', size: '32x20'
  %li
    = image_tag 'cards/new/discover.svg', alt: 'discover', size: '32x20'