- @page_title = '支払い方法'
= content_for :header do
  = render 'shared/header'
= content_for :app_banner do
  = render 'shared/app-banner'
= content_for :footer do
  = render 'shared/footer'
= content_for :sell_btn do
  = render 'shared/sell-btn'

.mypage-container
  .content
    %section.content__wrap
      %h2.content__title 支払い方法
      .content__body
        .content__inner
          %h3.content__subtitle クレジットカード一覧
          = link_to new_mypage_card_path, class: 'btn-default btn-red add-card__btn' do
            %i.far.fa-credit-card.add-card__icon
            クレジットカードを追加する
        .setting-not-regist
          = link_to '#' do
            支払い方法について
            %i.fa.fa-angle-right
  = render 'shared/sidebar-mypage'